

html,body {
    padding: 0;
    margin: 0;
    font-size: 16px;
}

body {
    font-family: 'Poppins';
    background-size: cover;
    background-repeat: repeat-y;
    background-image: url('images/moviepitchbg-dark.jpg');
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

h1 {
    font-family: 'Playfair Display SC', serif;
    text-align: center;
}

h2 {
    font-size: 1.3em;
}

p {
    line-height: 1.35em;
}

main {
    padding : 0 1em;    
}

section{
    margin: 0 auto;
    background-color: whitesmoke;
    border-radius: 15px;
    box-shadow: 0px 1px 18px 3px #242526;
    max-width: 420px;
}

.setup-inner {
    display: flex;
    justify-content: space-around;
    padding: 1.5em .5em;
    min-height: 234px;
}


.setup-inner>img{
    width: 40%;
    filter: drop-shadow(3px 2px 3px #777);
    align-self: center;
}
.speech-bubble-ai {
    max-width: 55%;
    min-height: 124px;
    border-radius: 15px;
    position: relative;
    margin: 0;
    border: 3px solid #777;
    background-color: #ffffff;
    align-self: flex-start;
    display: flex;
    align-items: center;
}

.speech-bubble-ai::before {
    content: "";
    position: absolute;
    border-left: 9px solid transparent;
    border-right: 9px solid #777;
    border-top: 9px solid #777;
    border-bottom: 9px solid transparent;
    left: -21px;
    top: 64px;
}

.speech-bubble-ai::after {
    content: "";
    position: absolute;
    border-left: 7px solid transparent;
    border-right: 7px solid #ffffff;
    border-top: 7px solid #ffffff;
    border-bottom: 7px solid transparent;
    left: -11px;
    top: 68px;
}

.speech-bubble-ai>p {
    
    padding: 0 1.3em;
    color: #242526;
    font-size: 85%;
}

.setup-input-container {
    min-height: 74px;
}


textarea{
    background-color: #e8e8e8;
    padding: .8em;
    border: none;
    border-top-right-radius: 0;
    border-top-left-radius: 15px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 15px;
    width: 100%;
    font-family: 'Poppins',sans-serif;
    resize: none;
    min-height: 40px;
    box-sizing: border-box;
}

textarea::placeholder {
    color: #777;
    font-size: 88%;
    opacity: 0.8;
}

button {
    border: none;
    background: #ff179b;
    cursor: pointer;
}
button:hover{
    background-color: #242526;
}

.send-btn {
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    min-width: 75px;
}

.send-btn>img{
    width: 3.0em;
    vertical-align: middle;
}

.output-container {
    display: none;
    flex-direction: column;
    margin: 1em auto;
    color: #242526;
    padding: 1em;
}

.view-pitch-btn {
    border-radius: 15px;
    color: whitesmoke;
    padding: 1em;
    margin: .4em auto;
    display: block;
    font-size: 1.2em;
}

.view-pitch-btn:hover{
    box-shadow: 1px 1px 5px 1px #777;
}

.output-img-container>img{
    box-shadow: 1px 1px 5px 1px #242526;
    border-radius: 15px;
    width: 100%;
}